body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1988px;
}
#u2021 {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:0px;
  width:1440px;
  height:1988px;
}
#u2022 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:986px;
  width:1400px;
  visibility:hidden;
  word-wrap:break-word;
}
