body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3935px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2113px;
  height:1136px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:265px;
  width:2112px;
  height:1135px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:560px;
  width:2108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2114px;
  height:1189px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:265px;
  width:2114px;
  height:1189px;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:586px;
  width:2110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2760px;
  height:1552px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2760px;
  height:1552px;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:768px;
  width:2756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:405px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:3215px;
  top:1720px;
  width:720px;
  height:405px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:194px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
