body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:280px;
  height:40px;
}
#u383_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:40px;
  width:140px;
  height:40px;
}
#u384_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
