body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2880px;
  height:4508px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2880px;
  height:4508px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2246px;
  width:2876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:91px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:1580px;
  top:1030px;
  width:180px;
  height:90px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:176px;
  word-wrap:break-word;
}
