body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:934px;
  height:593px;
}
#u2049 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:40px;
  width:934px;
  height:593px;
}
#u2050 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:288px;
  width:894px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2051 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:318px;
  width:376px;
  height:111px;
}
#u2052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  white-space:nowrap;
}
#u2053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:571px;
}
#u2053 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:777px;
  width:960px;
  height:571px;
}
#u2054 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:278px;
  width:920px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2055 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:802px;
  width:611px;
  height:37px;
}
#u2056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  white-space:nowrap;
}
#u2057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1295px;
  height:661px;
}
#u2057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1499px;
  width:1295px;
  height:661px;
}
#u2058 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:322px;
  width:1255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2059 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:1680px;
  width:1130px;
  height:185px;
}
#u2060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  white-space:nowrap;
}
