body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1189px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:96px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:0px;
  width:1440px;
  height:96px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:1400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:111px;
  width:181px;
  height:16px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u735 {
  position:absolute;
  left:0px;
  top:139px;
}
#u735_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1240px;
  height:69px;
  background-image:none;
}
#u735_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:69px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:8px;
  width:190px;
  height:49px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:150px;
  word-wrap:break-word;
}
#u741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:18px;
  width:187px;
  height:18px;
  line-height:18px;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:58px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:368px;
  height:58px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:328px;
  white-space:nowrap;
}
#u735_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1240px;
  height:69px;
  visibility:hidden;
  background-image:none;
}
#u735_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:69px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:58px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:368px;
  height:58px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:328px;
  white-space:nowrap;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:58px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:3px;
  width:656px;
  height:58px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:616px;
  word-wrap:break-word;
}
#u735_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:1240px;
  height:760px;
  visibility:hidden;
  background-image:none;
}
#u735_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:760px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:760px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:13px;
  width:391px;
  height:32px;
  font-size:28px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  white-space:nowrap;
}
#u758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:487px;
  width:258px;
  height:32px;
  font-size:28px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  white-space:nowrap;
}
#u760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:539px;
  width:176px;
  height:16px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:567px;
  width:114px;
  height:33px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:90px;
  width:320px;
  height:40px;
}
#u764_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:102px;
  width:89px;
  height:21px;
  font-size:18px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:173px;
  width:320px;
  height:40px;
}
#u767_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:185px;
  width:93px;
  height:21px;
  font-size:18px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:610px;
  width:320px;
  height:40px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:337px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:13px;
  width:360px;
  height:337px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:185px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:25px;
  width:300px;
  height:185px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:85px;
  width:260px;
  word-wrap:break-word;
}
#u777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:234px;
  width:152px;
  height:21px;
  font-size:18px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:265px;
  width:77px;
  height:21px;
  font-size:18px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:296px;
  width:77px;
  height:21px;
  font-size:18px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:490px;
  width:320px;
  height:94px;
}
#u783_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:94px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:490px;
  width:106px;
  height:41px;
  font-size:18px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:541px;
  width:64px;
  height:21px;
  font-size:18px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:410px;
  width:320px;
  height:40px;
}
#u788_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:422px;
  width:78px;
  height:21px;
  font-size:18px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:250px;
  width:320px;
  height:40px;
}
#u791_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:262px;
  width:84px;
  height:21px;
  font-size:18px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:330px;
  width:320px;
  height:40px;
}
#u794_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:342px;
  width:46px;
  height:21px;
  font-size:18px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:690px;
  width:160px;
  height:40px;
  color:#FFFFFF;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#329ADB;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:163px;
  width:109px;
  height:21px;
  color:#329ADB;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1095px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:4705px;
  width:1440px;
  height:1095px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:540px;
  width:1400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:56px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:144px;
  width:342px;
  height:56px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:243px;
  width:141px;
  height:32px;
  font-size:28px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:320px;
  width:173px;
  height:33px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1095px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:625px;
  width:1440px;
  height:1095px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:540px;
  width:1400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:400px;
  width:201px;
  height:33px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:275px;
  width:255px;
  height:16px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:337px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:223px;
  width:360px;
  height:337px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:185px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:235px;
  width:300px;
  height:185px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:85px;
  width:260px;
  word-wrap:break-word;
}
#u822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:444px;
  width:152px;
  height:21px;
  font-size:18px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:475px;
  width:77px;
  height:21px;
  font-size:18px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:506px;
  width:77px;
  height:21px;
  font-size:18px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
