.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.completed_section_box {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.error_messaging_box_labels {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
}
.flow_chart_-_new_box {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.flow_chart_-_page_box {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.flow_chart_-_normal_box {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.flow_chart_-_subdued {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
  text-align:center;
  line-height:normal;
}
.flow_chart_-_yellow_annotation {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:19px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
.heading {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:27px;
  color:#003399;
  text-align:left;
  line-height:normal;
}
.heading_-_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:19px;
  color:#666666;
  text-align:left;
  line-height:normal;
}
.heading_-_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:normal;
}
.text_-_paragraph {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
  text-align:left;
  line-height:normal;
}
.button_-_primary_call_to_action {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.button_-_secondary {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
.button_-_secondarydark {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
.flow_headline {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:22px;
  text-align:left;
}
.flow_box {
  color:#000000;
}
.slide_-_text {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:left;
  line-height:72px;
}
.slide_-_text_link {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#0066CC;
  text-align:left;
  line-height:72px;
}
.slide_-_headline {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:82px;
  color:#666666;
  text-align:left;
  line-height:88px;
}
.slide_-_sub_-headline {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:48px;
  color:#006600;
}
.heading_1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#000000;
  text-align:left;
}
.shape {
  font-size:13px;
  color:#000000;
}
.image {
  font-size:13px;
  color:#000000;
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.heading_2 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
.heading_4 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
.heading_5 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.heading_6 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#000000;
  text-align:left;
}
.paragraph {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.text_link {
  color:#0066CC;
}
.text_link_mouse_over {
}
.text_field {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.text_link_mouse_down {
}
.line {
}
.mth_playbook_event_marker {
}
.text_area {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.droplist {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.checkbox {
  font-size:13px;
  text-align:left;
}
.radio_button {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.flow_shape {
  font-size:13px;
  color:#000000;
}
.html_button {
  font-size:13px;
  color:#000000;
}
.table {
}
.table_cell {
}
.horizontal_line {
}
.vertical_line {
}
.connector {
}
.mth_playbook_-_headline {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:144px;
  color:#666666;
  text-align:left;
}
.box_1 {
}
.mth_playbook_-_track_label_ {
}
.mth_playbook_track_dark {
}
.mth_playbook_track_dark_header {
}
.mth_playbook_track_light {
}
.ellipse {
}
.label {
  font-size:14px;
  text-align:left;
}
.mth_playbook_-_conf_link {
}
.mth_playbook_-_event_box_-_gift_track {
  font-family:'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
.mth_playbook_-_event_box_-__none {
  font-family:'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
.mth_playbook_-_day_box {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
.mth_playbook_-_day_box_1st {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
.mth_playbook_-_day_num {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
.mth_playbook_-_day_num_1st {
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
.mth_playbook_-_next {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.749019607843137);
  text-align:right;
}
.mth_playbook_-_prev {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.749019607843137);
  text-align:left;
}
.mth_playbook_-_link {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#0066CC;
  text-align:left;
}
.mth_playbook_-_link_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#0066CC;
  text-align:left;
}
.mth_playbook_-_link_2_emph {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:13px;
  color:#0066CC;
  text-align:left;
}
.mth_playbook_-_page_link_label {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
.mth_playbook_-_page_link_label_emph {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
.mth_playbook_-_card_headline {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#999999;
  text-align:left;
}
.mth_playbook_-_card_-_date {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:left;
}
.mth_playbook_-_card_-_key_pages {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:left;
}
.mth_playbook_-_page_-__title {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
.mth_playbook_-_page_-__secondary {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#999999;
  text-align:center;
}
.mth_playbook_-_page_-__next_prev_page {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(0, 157, 217, 0.749019607843137);
  text-align:right;
}
.mth_playbook_-_page_-__external_link {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(0, 157, 217, 0.749019607843137);
  text-align:right;
}
.icon {
}
