body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:443px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:38px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:12px;
  width:403px;
  height:37px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  white-space:nowrap;
}
