body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2880px;
  height:4058px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2880px;
  height:4058px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2021px;
  width:2876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:91px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:1400px;
  top:1550px;
  width:200px;
  height:90px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:196px;
  word-wrap:break-word;
}
