body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2093px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2041px;
  height:889px;
}
#u1870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2041px;
  height:889px;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:436px;
  width:2037px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:864px;
}
#u1872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:920px;
  width:1040px;
  height:864px;
}
#u1873 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:424px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:864px;
}
#u1874 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:920px;
  width:1017px;
  height:864px;
}
#u1875 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:424px;
  width:1013px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:855px;
}
#u1876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1794px;
  width:1040px;
  height:855px;
}
#u1877 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:420px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:788px;
}
#u1878 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:1794px;
  width:1017px;
  height:788px;
}
#u1879 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:386px;
  width:1013px;
  visibility:hidden;
  word-wrap:break-word;
}
