body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:471px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:1149px;
  width:630px;
  height:471px;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:590px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:271px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1149px;
  width:350px;
  height:271px;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:80px;
  width:720px;
  height:160px;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:680px;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:280px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:790px;
  width:720px;
  height:280px;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:680px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:240px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:480px;
  width:720px;
  height:240px;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:680px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:280px;
  width:720px;
  height:160px;
  font-size:15px;
  color:#999999;
  text-align:left;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:680px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:120px;
  width:120px;
  height:80px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:32px;
  width:80px;
  word-wrap:break-word;
}
#u12_ref {
  border-width:0px;
  position:absolute;
  left:352px;
  top:190px;
  width:1px;
  height:1px;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:320px;
  width:120px;
  height:80px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:24px;
  width:80px;
  word-wrap:break-word;
}
#u14_ref {
  border-width:0px;
  position:absolute;
  left:352px;
  top:390px;
  width:1px;
  height:1px;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:520px;
  width:120px;
  height:80px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:9px;
  width:80px;
  word-wrap:break-word;
}
#u16_ref {
  border-width:0px;
  position:absolute;
  left:352px;
  top:590px;
  width:1px;
  height:1px;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:830px;
  width:120px;
  height:45px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u18_ref {
  border-width:0px;
  position:absolute;
  left:352px;
  top:865px;
  width:1px;
  height:1px;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:320px;
  width:120px;
  height:80px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:80px;
  word-wrap:break-word;
}
#u20_ref {
  border-width:0px;
  position:absolute;
  left:672px;
  top:390px;
  width:1px;
  height:1px;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:320px;
  width:120px;
  height:80px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:80px;
  word-wrap:break-word;
}
#u22_ref {
  border-width:0px;
  position:absolute;
  left:512px;
  top:390px;
  width:1px;
  height:1px;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:520px;
  width:120px;
  height:80px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:9px;
  width:80px;
  word-wrap:break-word;
}
#u24_ref {
  border-width:0px;
  position:absolute;
  left:672px;
  top:590px;
  width:1px;
  height:1px;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:520px;
  width:120px;
  height:80px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:9px;
  width:80px;
  word-wrap:break-word;
}
#u26_ref {
  border-width:0px;
  position:absolute;
  left:512px;
  top:590px;
  width:1px;
  height:1px;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:875px;
  width:120px;
  height:72px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:80px;
  word-wrap:break-word;
}
#u28_ref {
  border-width:0px;
  position:absolute;
  left:352px;
  top:937px;
  width:1px;
  height:1px;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:947px;
  width:120px;
  height:83px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u30_ref {
  border-width:0px;
  position:absolute;
  left:352px;
  top:1020px;
  width:1px;
  height:1px;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:830px;
  width:120px;
  height:45px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u32_ref {
  border-width:0px;
  position:absolute;
  left:512px;
  top:865px;
  width:1px;
  height:1px;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:875px;
  width:120px;
  height:70px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u34_ref {
  border-width:0px;
  position:absolute;
  left:512px;
  top:935px;
  width:1px;
  height:1px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:400px;
  width:0px;
  height:0px;
}
#u36_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:124px;
}
#u36_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:102px;
  width:22px;
  height:23px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:400px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u38_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:58px;
  width:168px;
  height:8px;
}
#u38_seg2 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:58px;
  width:8px;
  height:62px;
}
#u38_seg3 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:102px;
  width:22px;
  height:23px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:400px;
  width:0px;
  height:0px;
}
#u40_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:124px;
}
#u40_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:102px;
  width:22px;
  height:23px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:600px;
  width:0px;
  height:0px;
}
#u42_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:234px;
}
#u42_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-5px;
  width:22px;
  height:23px;
}
#u42_seg2 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:212px;
  width:22px;
  height:23px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:107px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:160px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:80px;
  width:320px;
  height:160px;
  color:#666666;
  text-align:left;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:600px;
  width:0px;
  height:0px;
}
#u47_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u47_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:56px;
  width:168px;
  height:8px;
}
#u47_seg2 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:56px;
  width:8px;
  height:174px;
}
#u47_seg3 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-5px;
  width:22px;
  height:23px;
}
#u47_seg4 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:212px;
  width:22px;
  height:23px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:200px;
  width:0px;
  height:0px;
}
#u49_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:124px;
}
#u49_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:102px;
  width:22px;
  height:23px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:200px;
  width:0px;
  height:0px;
}
#u51_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u51_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:66px;
}
#u51_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:59px;
  width:168px;
  height:8px;
}
#u51_seg3 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:59px;
  width:8px;
  height:61px;
}
#u51_seg4 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:102px;
  width:22px;
  height:23px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:200px;
  width:0px;
  height:0px;
}
#u53_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:5px;
  height:8px;
}
#u53_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:8px;
  height:71px;
}
#u53_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:59px;
  width:329px;
  height:8px;
}
#u53_seg3 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:59px;
  width:8px;
  height:61px;
}
#u53_seg4 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:102px;
  width:22px;
  height:23px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:160px;
  width:0px;
  height:0px;
}
#u55_seg0 {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-4px;
  width:33px;
  height:8px;
}
#u55_seg1 {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-4px;
  width:8px;
  height:408px;
}
#u55_seg2 {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:396px;
  width:33px;
  height:8px;
}
#u55_seg3 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:390px;
  width:20px;
  height:20px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:192px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:160px;
  width:0px;
  height:0px;
}
#u57_seg0 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-4px;
  width:34px;
  height:8px;
}
#u57_seg1 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-4px;
  width:8px;
  height:701px;
}
#u57_seg2 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:689px;
  width:34px;
  height:8px;
}
#u57_seg3 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:683px;
  width:20px;
  height:20px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:338px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:140px;
  width:160px;
  height:40px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  color:#999999;
  text-align:left;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:160px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:280px;
  width:320px;
  height:160px;
  color:#666666;
  text-align:left;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:340px;
  width:160px;
  height:40px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  color:#999999;
  text-align:left;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:480px;
  width:320px;
  height:240px;
  color:#666666;
  text-align:left;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:580px;
  width:240px;
  height:40px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  color:#999999;
  text-align:left;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:280px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:790px;
  width:320px;
  height:280px;
  color:#666666;
  text-align:left;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:910px;
  width:280px;
  height:40px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  color:#999999;
  text-align:left;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1149px;
  width:350px;
  height:40px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#999999;
  text-align:left;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1199px;
  width:170px;
  height:60px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:22px;
  width:130px;
  word-wrap:break-word;
}
#u78_ref {
  border-width:0px;
  position:absolute;
  left:292px;
  top:1249px;
  width:1px;
  height:1px;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:39px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1110px;
  width:350px;
  height:39px;
  color:#666666;
  text-align:left;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:310px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:1149px;
  width:280px;
  height:40px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#999999;
  text-align:left;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:39px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#666666;
  text-align:left;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:1110px;
  width:630px;
  height:39px;
  font-size:15px;
  color:#666666;
  text-align:left;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:590px;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:1300px;
  width:160px;
  height:60px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:120px;
  word-wrap:break-word;
}
#u86_ref {
  border-width:0px;
  position:absolute;
  left:992px;
  top:1350px;
  width:1px;
  height:1px;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:1199px;
  width:202px;
  height:80px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u88_ref {
  border-width:0px;
  position:absolute;
  left:703px;
  top:1269px;
  width:1px;
  height:1px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:1279px;
  width:0px;
  height:0px;
}
#u90_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u90_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-5px;
  width:22px;
  height:23px;
}
#u90_seg2 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:62px;
  width:22px;
  height:23px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:1509px;
  width:0px;
  height:0px;
}
#u92_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-70px;
  width:8px;
  height:74px;
}
#u92_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-18px;
  width:22px;
  height:23px;
}
#u92_seg2 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-75px;
  width:22px;
  height:23px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-43px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1359px;
  width:120px;
  height:80px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:24px;
  width:80px;
  word-wrap:break-word;
}
#u94_ref {
  border-width:0px;
  position:absolute;
  left:662px;
  top:1429px;
  width:1px;
  height:1px;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:1504px;
  width:160px;
  height:69px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:27px;
  width:120px;
  word-wrap:break-word;
}
#u96_ref {
  border-width:0px;
  position:absolute;
  left:992px;
  top:1563px;
  width:1px;
  height:1px;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:1403px;
  width:160px;
  height:60px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:22px;
  width:120px;
  word-wrap:break-word;
}
#u98_ref {
  border-width:0px;
  position:absolute;
  left:992px;
  top:1453px;
  width:1px;
  height:1px;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1509px;
  width:100px;
  height:60px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:22px;
  width:60px;
  word-wrap:break-word;
}
#u100_ref {
  border-width:0px;
  position:absolute;
  left:652px;
  top:1559px;
  width:1px;
  height:1px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:1360px;
  width:0px;
  height:0px;
}
#u102_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u102_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:28px;
  width:20px;
  height:20px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:1463px;
  width:0px;
  height:0px;
}
#u104_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u104_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:1330px;
  width:0px;
  height:0px;
}
#u106_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u106_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-4px;
  width:8px;
  height:217px;
}
#u106_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:205px;
  width:44px;
  height:8px;
}
#u106_seg3 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:199px;
  width:20px;
  height:20px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:96px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:1433px;
  width:0px;
  height:0px;
}
#u108_seg0 {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-4px;
  width:89px;
  height:8px;
}
#u108_seg1 {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-4px;
  width:8px;
  height:65px;
}
#u108_seg2 {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:53px;
  width:8px;
  height:8px;
}
#u108_seg3 {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:53px;
  width:8px;
  height:57px;
}
#u108_seg4 {
  border-width:0px;
  position:absolute;
  left:-180px;
  top:102px;
  width:99px;
  height:8px;
}
#u108_seg5 {
  border-width:0px;
  position:absolute;
  left:-185px;
  top:96px;
  width:20px;
  height:20px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:-135px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:1330px;
  width:0px;
  height:0px;
}
#u110_seg0 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-4px;
  width:90px;
  height:8px;
}
#u110_seg1 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-4px;
  width:8px;
  height:178px;
}
#u110_seg2 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:166px;
  width:8px;
  height:8px;
}
#u110_seg3 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:166px;
  width:8px;
  height:47px;
}
#u110_seg4 {
  border-width:0px;
  position:absolute;
  left:-180px;
  top:205px;
  width:98px;
  height:8px;
}
#u110_seg5 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u110_seg6 {
  border-width:0px;
  position:absolute;
  left:-185px;
  top:199px;
  width:20px;
  height:20px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:101px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:1539px;
  width:0px;
  height:0px;
}
#u112_seg0 {
  border-width:0px;
  position:absolute;
  left:-180px;
  top:-4px;
  width:184px;
  height:8px;
}
#u112_seg1 {
  border-width:0px;
  position:absolute;
  left:-185px;
  top:-10px;
  width:20px;
  height:20px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1540px;
  width:150px;
  height:40px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:110px;
  word-wrap:break-word;
}
#u114_ref {
  border-width:0px;
  position:absolute;
  left:182px;
  top:1570px;
  width:1px;
  height:1px;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1460px;
  width:150px;
  height:41px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:110px;
  word-wrap:break-word;
}
#u116_ref {
  border-width:0px;
  position:absolute;
  left:182px;
  top:1491px;
  width:1px;
  height:1px;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:1460px;
  width:160px;
  height:40px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u118_ref {
  border-width:0px;
  position:absolute;
  left:382px;
  top:1490px;
  width:1px;
  height:1px;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:1313px;
  width:120px;
  height:60px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u120_ref {
  border-width:0px;
  position:absolute;
  left:182px;
  top:1363px;
  width:1px;
  height:1px;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:1313px;
  width:130px;
  height:60px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
#u122_ref {
  border-width:0px;
  position:absolute;
  left:352px;
  top:1363px;
  width:1px;
  height:1px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:1259px;
  width:0px;
  height:0px;
}
#u124_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u124_seg1 {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:23px;
  width:93px;
  height:8px;
}
#u124_seg2 {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:23px;
  width:8px;
  height:31px;
}
#u124_seg3 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:36px;
  width:22px;
  height:23px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:1259px;
  width:0px;
  height:0px;
}
#u126_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u126_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:35px;
}
#u126_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:23px;
  width:88px;
  height:8px;
}
#u126_seg3 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:23px;
  width:8px;
  height:31px;
}
#u126_seg4 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:36px;
  width:22px;
  height:23px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.749019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:320px;
  width:120px;
  height:80px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:32px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.749019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:521px;
  width:120px;
  height:80px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:32px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.749019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:1460px;
  width:160px;
  height:40px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:1501px;
  width:0px;
  height:0px;
}
#u134_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u134_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:21px;
  width:22px;
  height:23px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.749019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:320px;
  width:120px;
  height:80px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:32px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.749019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:830px;
  width:120px;
  height:200px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:92px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.749019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:830px;
  width:120px;
  height:115px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:50px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:12px;
  width:440px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:436px;
  word-wrap:break-word;
}
#u142_ref {
  border-width:0px;
  position:absolute;
  left:472px;
  top:42px;
  width:1px;
  height:1px;
}
#u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:17px;
  width:100px;
  height:35px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u144_ref {
  border-width:0px;
  position:absolute;
  left:548px;
  top:42px;
  width:1px;
  height:1px;
}
