body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:886px;
}
#u2954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:886px;
}
#u2955 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:435px;
  width:1560px;
  visibility:hidden;
  word-wrap:break-word;
}
