body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:934px;
  height:593px;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:40px;
  width:934px;
  height:593px;
}
#u1870 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:288px;
  width:894px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:318px;
  width:376px;
  height:111px;
}
#u1872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  white-space:nowrap;
}
#u1873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:571px;
}
#u1873 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:777px;
  width:960px;
  height:571px;
}
#u1874 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:278px;
  width:920px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1875 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:802px;
  width:611px;
  height:37px;
}
#u1876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  white-space:nowrap;
}
#u1877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1295px;
  height:661px;
}
#u1877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1499px;
  width:1295px;
  height:661px;
}
#u1878 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:322px;
  width:1255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:185px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1879 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:1680px;
  width:1130px;
  height:185px;
}
#u1880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  white-space:nowrap;
}
