body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:5596px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:1553px;
}
#u1906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:1553px;
}
#u1907 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:768px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:1552px;
}
#u1908 {
  border-width:0px;
  position:absolute;
  left:1400px;
  top:1709px;
  width:954px;
  height:1552px;
}
#u1909 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:768px;
  width:950px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1552px;
}
#u1910 {
  border-width:0px;
  position:absolute;
  left:4596px;
  top:0px;
  width:1000px;
  height:1552px;
}
#u1911 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:768px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1011px;
  height:1552px;
}
#u1912 {
  border-width:0px;
  position:absolute;
  left:2440px;
  top:1709px;
  width:1011px;
  height:1552px;
}
#u1913 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:768px;
  width:1007px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:1552px;
}
#u1914 {
  border-width:0px;
  position:absolute;
  left:2627px;
  top:0px;
  width:924px;
  height:1552px;
}
#u1915 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:768px;
  width:920px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:1142px;
}
#u1916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1748px;
  width:1290px;
  height:1142px;
}
#u1917 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:563px;
  width:1286px;
  visibility:hidden;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  word-wrap:break-word;
  transform-origin:643px 8px;
  -ms-transform-origin:643px 8px;
  -moz-transform-origin:643px 8px;
  -webkit-transform-origin:643px 8px;
}
#u1918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1577px;
  height:900px;
}
#u1918 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:0px;
  width:1577px;
  height:900px;
}
#u1919 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:442px;
  width:1573px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:1554px;
}
#u1920 {
  border-width:0px;
  position:absolute;
  left:3640px;
  top:0px;
  width:876px;
  height:1554px;
}
#u1921 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:769px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:929px;
  height:1552px;
}
#u1922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3408px;
  width:929px;
  height:1552px;
}
#u1923 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:768px;
  width:925px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:872px;
  height:1552px;
}
#u1924 {
  border-width:0px;
  position:absolute;
  left:3127px;
  top:3408px;
  width:872px;
  height:1552px;
}
#u1925 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:768px;
  width:868px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:984px;
  height:1552px;
}
#u1926 {
  border-width:0px;
  position:absolute;
  left:2034px;
  top:3408px;
  width:984px;
  height:1552px;
}
#u1927 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:768px;
  width:980px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:1552px;
}
#u1928 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:3408px;
  width:949px;
  height:1552px;
}
#u1929 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:768px;
  width:945px;
  visibility:hidden;
  word-wrap:break-word;
}
