body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:651px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:172px;
  width:847px;
  height:651px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:318px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:651px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:1520px;
  top:172px;
  width:847px;
  height:651px;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:318px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:647px;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:2719px;
  top:176px;
  width:841px;
  height:647px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:316px;
  width:801px;
  visibility:hidden;
  word-wrap:break-word;
}
#u610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:647px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:4119px;
  top:553px;
  width:841px;
  height:647px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:316px;
  width:801px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:648px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:952px;
  width:843px;
  height:648px;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:316px;
  width:803px;
  visibility:hidden;
  word-wrap:break-word;
}
#u614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:847px;
  height:651px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:1520px;
  top:1000px;
  width:847px;
  height:651px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:318px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
