body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1422px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1107px;
  height:830px;
}
#u2121 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:229px;
  width:1107px;
  height:830px;
}
#u2122 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:407px;
  width:1067px;
  visibility:hidden;
  word-wrap:break-word;
}
