body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:545px;
}
#u2971 {
  border-width:0px;
  position:absolute;
  left:1834px;
  top:477px;
  width:726px;
  height:545px;
}
#u2972 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:264px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:545px;
}
#u2973 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:477px;
  width:726px;
  height:545px;
}
#u2974 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:264px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:544px;
}
#u2975 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:477px;
  width:726px;
  height:544px;
}
#u2976 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:264px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
