body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1301 {
  position:absolute;
  left:40px;
  top:40px;
}
#u1301_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:480px;
  height:280px;
  background-image:none;
}
#u1301_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:280px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:2px;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:480px;
  height:1px;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-8px;
  width:440px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:59px;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:480px;
  height:59px;
  text-align:center;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:440px;
  word-wrap:break-word;
}
#u1309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:207px;
  width:140px;
  height:40px;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u1311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:207px;
  width:140px;
  height:40px;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:122px;
  width:400px;
  height:58px;
}
#u1313_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:58px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1301_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:480px;
  height:280px;
  visibility:hidden;
  background-image:none;
}
#u1301_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:280px;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:2px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:480px;
  height:1px;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-8px;
  width:440px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:59px;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:480px;
  height:59px;
  text-align:center;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:440px;
  word-wrap:break-word;
}
#u1321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:207px;
  width:140px;
  height:40px;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u1323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:207px;
  width:140px;
  height:40px;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:122px;
  width:400px;
  height:58px;
}
#u1325_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:58px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:32px;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:480px;
  height:32px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:450px;
  word-wrap:break-word;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:248px;
  width:148px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:248px;
  width:148px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
